html, body, .container{
    height: 100%;
}
.navbar-brand{
    color:#454545;
    float: none;
    font-size: 35px;
    display: block;
    text-align: center;
}
.navbar-brand > img{
    width: 10%;
    display: inline-block;
    margin-top: -4px;
}
.panel {
    margin-top: 25%;
}
